.message-list {
    grid-area: m;
}
.message {
    margin: 15px 0;
}

.message .message-username {
    font-size: 11px;
    color: var(--main-text-color);
    opacity: 0.9;
    margin-bottom: 6px;
}
.message .message-text {
    background: var(--main-color);
    color: var(--secondary-color);
    display: inline;
    padding: 4px 8px;
    border-radius: 8px;
}

.message-list {
    display: block;
    box-sizing: border-box;
    padding-left: 6px;
    overflow-y: scroll;
    background: var(--secondary-color);
}

.message-list .join-room {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 34px;
    font-weight: 300;
    width: 100%;
    height: 100%;
}